body {
	font-family: Hanken Grotesk,Helvetica,sans-serif; 
	font-size: 20px;
	margin: 0;
	padding: 0;
}	

a:link{
	color: #484848;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}

.nav a:link{
	float: right;
	padding-right: 40px;
}
.nav a:visited{
	color: #484848;
}
.nav a:hover {	
	color: #e45647;
}
.nav a.current {
	color: #e45647;
}

 
.nav {
	font-size: 28px;
	height: 80px;
	line-height: 80px;

}

#header {
	color:#484848;
	padding-top: 100px;
	font-size: 90px;
	text-align: center;
}
#intro{
	color:#484848;
	font-size: 20px;
	text-align: center;
	max-width: 800px;
	margin: auto;
	font-weight: lighter;
    line-height: 1.4em;
    padding-top: 12px;
	padding-bottom: 50px;

}
#intro a:link{
	color: #e45647 ;
}
#intro a:visited{
	color: #e45647 ;
}
#footer {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;
}
#footer a:hover{
	opacity: 0.5;
}

.backgroundcontainer{
	background-color:#99b898;
	background-image: linear-gradient(#A8E6CE, #DCEDC2, #FFD3B5);”
}

.container{
	max-width: 800px;
	margin: auto;
    margin-top: 180px;
    background-color: rgba(255, 255, 255, 0.9);
}
.projectcontainer{
	max-width: 800px;
	padding-left: 100px;

}

.aboutcontainer{
	max-width: 800px;
	float:right;
	padding-top:40px;
	padding-right: 100px;
}
.aboutcontainer a:link{
	color: #e45647;
}
.aboutcontainer a:visited{
	color:#e45647;
}
.gallerycontainer{
	padding-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

.project{
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 100px;
	color: #484848;
	clear: both;
	max-width: 800px;
    margin: auto;
}
.project a:visited{
	color: #484848;
}
.project h2{
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 0;

}
.project img{
	float: right;
	margin-left: 30px;
	margin-top: 40px;
}

.projectbody{
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 80px;
	color: #484848;
	clear: both;;
}
.projectbody a:visited{
	color: #484848;
}
.projectbody h2{
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 0;
}
.projectbody h3{
	font-weight: normal;
	font-size: 30px;
	color:#e45647;
	margin-bottom: 0;
}
.projectbody img{
	float: center;
	margin-left: 20px;
}

p {
    font-size: 28px;
    font-weight: lighter;
    margin-top: 8px;
    line-height: 1.4em;
}

